@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional');

/*Global styles*/

body,button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family:MicrosoftYaHei,'宋體',Tahoma,Helvetica,Arial,"\5b8b\4f53", sans-serif;}
body,input,button,select,textarea{
    font-family: "Helvetica Neue",'Noto Sans TC',  Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
    font-size:108%;
    }
    
    h1,h2,h3,h4,h5,h6{   font-weight:normal; }
    h1,h2,h3,h4,h5,h6{  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, 'Noto Sans TC';  }
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 10px;
    box-sizing: border-box;  
    overflow-x:hidden;
}

body{
    background-color: rgb(204, 255, 240);
}

h3{
   font-size: 2rem;
   margin: 2rem 0;
   text-align: center;
   font-weight:700;
}


.works h2{
    font-size: 1.5rem;
    margin: 2rem 0;
    text-align: center;
    font-weight:400;
    font-family: 'Noto Sans TC', sans-serif;
 }

h1{
    font-size: 3rem;
    margin: 2rem 0;
    text-align: center;
    font-weight:700;
}

p{
    font-size: 1.8rem;
    font-weight: 400;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


img{
    width: 100%;
    max-width: 100%;
    height: auto;
}



/*header*/
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1500;
}

.container-nav{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    
}

.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    
}

nav.container{
    overflow-y: hidden;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    flex-direction: column;
}

.nav-brand{
    width: 2rem;
    display: flex;
    flex-direction: column;
}

.menu-icons i, a i{
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i{
    color: #eb648c;
}

.nav-list {
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-list.active{
    right: 0;
}

.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item{
    margin: 1.5rem 0;
}

.nav-item a:hover{
    color: #fafafa;
}

.nav-link{
    font-size: 1.6rem;
    color: rgba(0,0,0,.7);
}

/*web*/
.fst-img{
    width: 100%;
    height: auto;
    margin-top:-10px;
    background-size: cover;
    background-image: url('./images/olena-sergienko-dIMJWLx1YbE-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:left top;
    background-position: center center;
    z-index: -1500;
    position: absolute;
    size: cover;
}

.fst-p{
    margin-top: -15rem;
}

.main-message{
    
    transform: translateY(20%);
    padding: 0 10rem;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-bottom: 5rem;
    position: relative;
}

.photo {
    width: 10rem;
    object-fit:cover;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid #eb648c;
}

#btn{
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    grid-gap: 3rem;
    justify-content: center;
}

.button{
    border-radius: 5px;
    font-family: 'Noto Sans TC', sans-serif;
    justify-content: center;
    
}


#btn-1{
    width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    border: 2px solid#eb648c;
    color: #fafafa;
    transition: all 100ms ease-in-out;
    text-align: center;
    padding: 2rem auto;
    margin-right: 1rem;
}

#btn-1:hover{
    background: #eb648c;
    color: #fafafa;
    cursor: pointer;
    text-decoration: none;
}

#btn-2{
    width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    background: #fafafa;;
    color: #eb648c;
    transition: all 100ms ease-in-out;
    border: 2px solid #fafafa;
    text-shadow: none;
}

#btn-2:hover{
    cursor: pointer;
    text-decoration: none;
}


/*skills*/
#skills{
    margin-top: 50rem;
    position: relative;
}

#skills h3{
    font-size: 3rem;
    font-family: 'Noto Sans TC', sans-serif; 
    font-weight: 700;
    height: 4rem;
}

.skills-items{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
 grid-gap: 2.5rem;
 margin-top: 8rem;
}

.skill-i {
    text-align: center;
    font-size: 5rem;
}

.skill{
    height: 45rem;
    padding: 5rem;
    text-align: center;
    color:　rgb(75, 80, 76);
    font-family: 'Noto Sans TC', sans-serif;
    background: #eaf3ed;
    transition: all 650ms ease-in-out;
}

.skill:hover{
    cursor: pointer;
    transform: scale(1.1);
}


/*about me*/

#about-me .container-fluid.row img,
#about-me .container-fluid.row div{
    padding: 0;
}

#about-me .personality-title{
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}


#about-me{
    margin-top: 30rem;
}

#about-me i {
    margin: 2rem auto;
}



.row{
    padding: 0;
}


/* works */
#works{
text-align: center;
padding: 0 2rem;
width: 100%;
margin: 0 auto;
margin-top: 35rem;
position: relative;

}


.works-test h3{
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 4rem;
}

.works h3{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Noto Sans TC', sans-serif;
}

.work a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Noto Sans TC', sans-serif;
    color: #000000;
    overflow:hidden;
    overflow-y:hidden;
}

.work a:hover{
    text-decoration: none;
    color: #525057;
}

.work img:hover{
    text-decoration: none;
    color: #3d3d3d;
    cursor: pointer;
    transform: scale(1.1);
}

.work-intro{
    margin-top: 2rem;
}

.work{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(44rem, 1fr));
    grid-gap: 3rem;
    margin: 0 auto;
   }

  .work-intro{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Noto Sans TC', sans-serif;
  }

.works-img{
    margin: 0 auto;
    width: 44rem;
    min-width: 25rem;
    height: 20rem;
    position: relative;
}

  .work img{
    transition: all 650ms ease-in-out;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute; 
    justify-content: center; 
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
   }



.text{
    margin-bottom: 8rem; 
    margin: 1rem;
    text-align: center;
}

#works .text{
    margin-bottom: 8rem;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 0;
    font-size: 2rem;
}

.content h2,
.text h3 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Noto Sans TC', sans-serif;
}

.text h1, .text h2{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Noto Sans TC', sans-serif;
}

.text p,
.content p,
.content text ul li,
.nav-item,
#about-me li{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Noto Sans TC', sans-serif;
}

footer{
    padding-top: 4.5rem;
    text-align: center; 
    margin-top: 25rem;
    width:100%;
    height: 26rem;
    background: #151418;
    color: #fafafa;
    position: absolute;
}

content .text{
    text-align: left;
}


.attribution {
    margin-top: 5rem;
}

.pink{
    color: #eb648c;
    width: 10rem;
    border: 3px solid #eb648c;
    margin: auto;
    margin-bottom: 2rem;
}



/*navbar size adjust*/

@media screen and (max-width: 470px){
   
    .fst-img{
        width: 100%;
        height: 130vh;
    }
    #carouselExampleIndicators{
        text-align: center;
    }

    #skills{
        margin-top: 10rem;
    }

    .main-message{
        padding: 0 0;
        margin: 0 1rem;
        padding-bottom: 2rem;

    }
}

@media screen and (max-width: 600px){
   
    .fst-img{
        width: 100%;
        height: 130vh;
    }
    .main-message{
        padding: 0 0;
        margin: 0 1rem;
        margin-top: -5rem;
    }
}

@media screen and (min-width: 470px){
    .main-message{
        transform:translateY(40%);
    }
    .fst-img{
        width: 100%;
        height: 130vh;
    }
}

@media screen and (min-width: 700px){
    #btn{
        width: 50rem;
        margin-top: 2.5rem;
        display: flex;
        justify-content: center;
        
    }

    header{
        height: 8rem; 
    }

    .nav-brand{
        width: 3.5rem;
    }
    .nav-list{
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }

    .menu-icons{
        display: none;
    }

    .nav-item{
        margin: 0 2.5rem;
    }

    .nav-link,
    .current{
        color: #fafafa;
        position: relative;
        font-size: 1.3rem;
    }

   .nav-link::before,
   .current::before{
       content: '';
       position: absolute;
       left: 0;
       bottom: -.5rem;
       background-color: #eb648c;
       width: 100%;
       height: 2px;
       transform: scale(0);
       transform-origin: left;
       transition: transform 650ms;
   }

   .current::before{
       transform: scaleX(1);
   }

   .nav-link:hover::before{
       transform:scaleX(1);
   }

   .hero{
       height: 60vh;
   }

   .main-message{
       transform: translateY(75%);
   }

   
}