@import 'https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 32px;
  font-family: 'League Spartan', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* RESET */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}
